div{
    position: absolute;
}
div:nth-child(1){
    left:90%;
    animation: anim 13s linear infinite;
}
div:nth-child(2){
    left:80%;
    animation: anim 10s linear infinite;
}
div:nth-child(3){
    left:75%;
    animation: anim 11s linear infinite;
}
div:nth-child(4){
    left:70%;
    animation: anim 15s linear infinite;
}
div:nth-child(5){
    left:60%;
    animation: anim 12s linear infinite;
}
div:nth-child(6){
    left:50%;
    animation: anim 10s linear infinite;
}
div:nth-child(7){
    left:45%;
    animation: anim 11s linear infinite;
}
div:nth-child(8){
    left:40%;
    animation: anim 10s linear infinite;
}
div:nth-child(9){
    left:35%;
    animation: anim 12s linear infinite;
}
div:nth-child(11){
    left:30%;
    animation: anim 12s linear infinite;
}
div:nth-child(12){
    left:25%;
    animation: anim 13s linear infinite;
}
div:nth-child(13){
    left:20%;
    animation: anim 11s linear infinite;
}
div:nth-child(14){
    left:17%;
    animation: anim 12s linear infinite;
}
div:nth-child(15){
    left:15%;
    animation: anim 10s linear infinite;
}
@keyframes anim{
    0%{top:-10%; transform:translateX(15px) rotate(0deg); }
    20%{transform:translateX(-15px) rotate(45deg); }
    40%{transform:translateX(-15px) rotate(90deg); }
    50%{transform:translateX(15px) rotate(90deg); }
    60%{transform:translateX(-15px) rotate(180deg); }
    80%{transform:translateX(15px) rotate(180deg); }
    100%{top:110%; transform:translateX(-15px) rotate(225deg); }
}